!!! 5
html

  head
    title Motherboard
    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='/css/style.css')

  body
    
    main(role='main')#main

      .widgets
        ul.clearfix

          li
            .widget
              .widget-value.widget-value-kilo 140,012
              .widget-title Registered Users
              .widget-timestamp a minute ago

          li
            .widget
              .widget-value 711
              .widget-title Premium Users
              .widget-timestamp 2 minutes ago

          li
            .widget
              .widget-value.widget-value-mega 110,000,123
              .widget-title Visitors Online
              .widget-timestamp a few seconds ago